{% load staticfiles %}

<!DOCTYPE html>

{% block html %}
<html lang="en">
{% block head %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}{% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    {% block extra_css %}{% endblock %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/js/all.min.js"></script>
</head>
{% endblock %}

{% block body %}

<body>

    {% block content %}

    {% endblock %}

    {% block extra_js %}{% endblock %}
</body>
{% endblock %}

</html>
{% endblock %}